# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Proyecto1/out/build/x64-debug/VSInheritEnvironments.txt
Proyecto1/out/build/x64-debug/Testing/Temporary/LastTest.log
Proyecto1/out/build/x64-debug/Proyecto1/Proyecto1.pdb
Proyecto1/out/build/x64-debug/Proyecto1/Proyecto1.ilk
Proyecto1/out/build/x64-debug/Proyecto1/CMakeFiles/Proyecto1.dir/vc140.pdb
Proyecto1/out/build/x64-debug/Proyecto1/CMakeFiles/Proyecto1.dir/vc140.idb
*.res
Proyecto1/out/build/x64-debug/Proyecto1/CMakeFiles/Proyecto1.dir/manifest.rc
Proyecto1/out/build/x64-debug/Proyecto1/CMakeFiles/Proyecto1.dir/intermediate.manifest
Proyecto1/out/build/x64-debug/Proyecto1/CMakeFiles/Proyecto1.dir/embed.manifest
Proyecto1/out/build/x64-debug/Proyecto1/cmake_install.cmake
Proyecto1/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
Proyecto1/.vs/CMake Overview
Proyecto1/.vs/ProjectSettings.json
Proyecto1/.vs/Proyecto1/FileContentIndex/8d2e18aa-ff28-493a-9897-ba91a1ca835d.vsidx
Proyecto1/.vs/Proyecto1/v17/.wsuo
Proyecto1/.vs/Proyecto1/v17/Browse.VC.db
Proyecto1/.vs/Proyecto1/v17/Browse.VC.db-shm
Proyecto1/.vs/Proyecto1/v17/Browse.VC.db-wal
Proyecto1/.vs/Proyecto1/v17/Browse.VC.opendb
Proyecto1/.vs/Proyecto1/v17/ipch/AutoPCH/a5c8affd42565fd7/PROYECTO1.ipch
Proyecto1/.vs/slnx.sqlite
Proyecto1/.vs/VSWorkspaceState.json
Proyecto1/CMakeLists.txt
Proyecto1/CMakePresets.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-83c19b1a61e32d584302.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-ef00ac73e6f48f73602c.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-d03c46cdaaf526558fcf.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/reply/directory-Proyecto1-Debug-b36d9ca42dec3910efd1.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/reply/index-2023-12-05T15-28-15-0078.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/reply/target-Proyecto1-Debug-71234a53c1d5494be61e.json
Proyecto1/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-f9380816d9db0ef94961.json
Proyecto1/out/build/x64-debug/.ninja_deps
Proyecto1/out/build/x64-debug/.ninja_log
Proyecto1/out/build/x64-debug/build.ninja
Proyecto1/out/build/x64-debug/cmake_install.cmake
Proyecto1/out/build/x64-debug/CMakeCache.txt
Proyecto1/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeCCompiler.cmake
Proyecto1/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeCXXCompiler.cmake
Proyecto1/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_C.bin
Proyecto1/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeDetermineCompilerABI_CXX.bin
Proyecto1/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeRCCompiler.cmake
Proyecto1/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CMakeSystem.cmake
Proyecto1/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CompilerIdC/CMakeCCompilerId.c
Proyecto1/out/build/x64-debug/CMakeFiles/3.26.4-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
Proyecto1/out/build/x64-debug/CMakeFiles/cmake.check_cache
Proyecto1/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
Proyecto1/out/build/x64-debug/CMakeFiles/rules.ninja
Proyecto1/out/build/x64-debug/CMakeFiles/ShowIncludes/foo.h
Proyecto1/out/build/x64-debug/CMakeFiles/ShowIncludes/main.c
